/**
 * Colors
 *
 * @package AA
 * @since 0.0.1
 *
 */

/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */
$w : #ffffff;
$c1 : #ccc; // Borders
$c2 : #35ad68; //#0000ff; // Underline Colors
$c3 : #f44336; // Error
$c4 : #e57373; // Validation Alert
$c5 : #ccc;
$c6 : #f7f7f7;



/**
 * Colors
 *
 * @type HEX
 */

$color         : #000000; // Generic Color
$color_none    : #ccc;
$color_white   : #ffffff;
$color_offwhite: #f7f7f7;
